
.vs/ShoppingList/DesignTimeBuild/.dtbcache.v2
.vs/ShoppingList/v16/.suo
ShoppingList/ShoppingList.Android/obj/Debug/110/ShoppingList.Android.csproj.AssemblyReference.cache
ShoppingList/ShoppingList.Android/obj/Debug/110/ShoppingList.Android.csproj.AssemblyReference.cache
